@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.wrapper {

}

.wrapper-body {

}

.wrapper-header {

}

.table-wrapper {

}

.table-wrapper > .table-toolbar {
    
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
  }
  .square-service-block{
      position:relative;
      overflow:hidden;
      margin:15px auto;
      }
  .square-service-block a {
    background-color: #3cb1e7;
    border-radius: 5px;
    display: block;
    padding: 60px 20px;
    text-align: center;
    width: 100%;
  }
  .square-service-block a:hover{
    background-color: #1837B3;
    border-radius: 5px;
  }
  
  .ssb-icon {
    color: #fff;
    display: inline-block;
    font-size: 50px;
    margin: 0 0 20px;
  }
  
  h2.ssb-title {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin:0;
    padding:0;
    text-transform: uppercase;
  }
  